@mixin fontStyle {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@mixin fontSecondSryle {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}