@import "variables";

//---CAROUSEL---

#slider {
    /*положение слайдера*/
    position: relative;
    text-align: center;
    /* top: 10px; */
}
#slider {
    /*центровка слайдера*/
    margin: 0 auto;
}
#slides article {
    /*все изображения справа друг от доруга*/
    width: 20%;
    float: left;
}
#slides .image {
    /*устанавливает общий размер блока с изображениями*/
    width: 500%;
    line-height: 0;
}
#overflow {
    /*сркывает все, что находится за пределами этого блока*/
    width: 597px;
    overflow: hidden;
}
article img {
    /*размер изображений слайдера*/
    width: 100%;
}
#desktop:checked ~ #slider {
    /*размер всего слайдера*/
    /* max-width: 960px; /*максимальнная длинна*/
    max-width: $widthSite;
}
#slides {
    display: flex;
    justify-content: center;
}
/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4) {
    background: url(img/carousel/left.svg) center no-repeat; /*заливка фона картинкой без повторений*/
    background-color: #e1e1e1;
    float: left;
    margin: 0 0 0 -84px; /*сдвиг влево*/
    display: block;
    height: 68px;
    width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1) {
    background: url(img/carousel/right.svg) center no-repeat; /*заливка фона картинкой без повторений*/
    background-color: #e1e1e1;
    float: right;
    margin: 0 -84px 0 0; /*сдвиг вправо*/
    display: block;
    height: 68px;
    width: 68px;
}
label,
a {
    /*при наведении на стрелки или переключатели - курсор изменится*/
    cursor: pointer;
}
.all input {
    /*скрывает стандартные инпуты (чекбоксы) на странице*/
    display: none;
}
.all {
    background-color: #f7f7f7;
    position: relative;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image {
    margin-left: 0;
}

#switch2:checked ~ #slides .image {
    margin-left: -100%;
}

#switch3:checked ~ #slides .image {
    margin-left: -200%;
}

#switch4:checked ~ #slides .image {
    margin-left: -300%;
}

#switch5:checked ~ #slides .image {
    margin-left: -400%;
}
#controls {
    margin: -25% 0 0 80px;
    width: 85%;
    height: 50px;
}

#active label {
    /*стиль отдельного переключателя*/
    border-radius: 10px; /*скругление углов*/
    display: inline-block; /*расположение в строку*/
    width: 15px;
    height: 15px;
    background: #bbb;
    display: none;
}

#active {
    /*расположение блока с переключателями*/
    margin: 23% 0 0;
    text-align: center;
}

#active label:hover {
    /*поведение чекбокса при наведении*/
    background: #76c8ff;
    border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5) {
    background: #18a3dd;
    border-color: #18a3dd !important;
}

#slides .image {
    /*анимация пролистывания изображений*/
    transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}

#controls label:hover {
    /*прозрачность стрелок при наведении*/
    opacity: 0.6;
}

#controls label {
    /*прозрачность стрелок при отводе курсора*/
    transition: opacity 0.2s ease-out;
}

//---DESCRIPTION---
.description {
    position: relative;
    /* padding-top: -65px; */
    height: 601px;
    border: 1px solid $backgroundColor;
    background-color: #fff;
    display: flex;
    justify-content: center;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: -65px;
        position: absolute;
        z-index: 8;
        width: $widthSite;
        background-color: $backgroundColor;
    }
    &__title {
        color: $fontColor;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-top: 64px;
        padding-bottom: 12px;
    }
    &__subtitle {
        padding-top: 12px;
        color: #4d4d4d;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-bottom: 49px;
    }
    &__text {
        max-width: 555px;
        color: #5e5e5e;
        text-align: center;
        @include fontStyle;
        padding-bottom: 32px;
    }
    &__price {
        color: $fontColor;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        padding-left: 250px;
        padding-right: 250px;
        padding-bottom: 65px;
        border-bottom: 1px solid $backgroundSColor;
    }
    &__item {
        margin-top: 65px;
        display: flex;
        color: #6f6e6e;
        @include fontStyle;
        margin-bottom: 48px;
    }
    &__subitem {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 21px;
        padding-right: 21px;
    }

    &__button {
        width: 212px;
        height: 48px;
        background-color: $backgroundColor;
        color: $fontColor;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: 1px solid $fontColor;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        &:hover {
            background-color: $fontColor;
            color: $backgroundColor;
        }
        /* &:hover .description__icon {
            fill: $backgroundColor;
        } */
    }
}

a.description__link {
    display: flex;
    align-items: center;
    gap: 5px;
}
.featured__grid {
    padding-bottom: 128px;
}
.top-headprod {
    display: flex;
    justify-content: space-between;
}

/* ---------------------------------------------------
-------------------------tablet-----------------------
--------------------------------------------------- */
@media (max-width: 1025px) {
    .featured__grid {
        padding-left: calc(35vw - 350px);
        padding-right: calc(35vw - 350px);
        padding-bottom: 128px;
    }
    .featured__item-hidden {
        display: none;
    }
    .frame {
        padding-bottom: 140px;
    }
    .copyright__icon-hidden {
        display: none;
    }
    #controls {
        margin: -25% 0 0 84px;
        width: 84%;
        height: 50px;
    }
}
@media (max-width: 769px) {
    #controls {
        margin: -25% 0 0 84px;
        width: 78%;
        height: 50px;
    }
    #overflow {
        width: 457px;
    }
}
/* ---------------------------------------------------
-------------------------mobile-----------------------
--------------------------------------------------- */

@media (max-width: 426px) {
    .center {
        padding-left: calc(50vw - 180px);
        padding-right: calc(50vw - 180px);
    }
    .top-head {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }
    .top-head__heading {
        margin-bottom: 32px;
    }
    .description {
        height: 500px;
        border-bottom: 1px solid #eaeaea;
    }
    .description__container {
        width: 425px;
    }
    .description__price {
        padding-bottom: 32px;
    }
    .description__link {
        font-size: 10px;
    }
    .description__item {
        margin-top: 50px;
    }
    /* #controls {
        margin: -25% 0 0 84px;
        width: 78%;
        height: 50px;
    }
    #overflow {
        width: 457px;
    } */
    .featured__grid {
        padding-top: 20px;
        gap: 0;
        padding-bottom: 60px;
    }
}
