$headerColor: #222;
$fontColor: #f16d7f;
$fontMineColor: #222;
$widthSite: 1140px;
$footerColor: #222;
$backgroundColor: #fff;
$backgroundSColor: #F7F7F7;
$widthBurgerMenu: 232px;
$dimColor: #575757;
$lightenedColor: #A4A4A4;